@import './variables.scss';

body {
  margin: 0;
  font-family: $fn-nunito, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('https://gumqs8el2m.execute-api.us-east-1.amazonaws.com/production/?filename=https://houm.com/static/images/pink-shape.png&width=1920&height=undefined&quality=undefined&action=contain') top left / 1400px 1200px repeat;
}

code {
  font-family: $fn-nunito, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}